
<h1>Please choose your favourite zone:</h1>
<form action="<?php echo $this->getUrl() . 'hobbydigi/index/save'; ?>" method="post">
    <label>
        <input type="radio" name="ans" value="Anime">Anime
    </label>
    <label>
        <input type="radio" name="ans" value="Lego">Lego
    </label>
    <label>
        <input type="radio" name="ans" value="Model Car">Model Car
    </label>
    <label>
        <input type="radio" name="ans" value="Toys">Toys
    </label>
    <br/>
    <input type="submit" name="submit" value="submit" />
</form>


