<?php /** @var MyCompany\ExampleAdminNewPage\Block\Answers $block */ ?>
<h2><u>10 most recent records</u></h2>
<table class="width:100%">
    <tr>
        <th>
            ip
        </th>
        <th>
            created at
        </th>
        <th>
            ans
        </th>
        <th>
            <?php echo $block->getAns(); ?>
        </th>
    </tr>


</table>
